@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


.home-wrapper {
  background-color: #0B0F19;
  color: #f5d0a9;
  min-height: 80vh;
  display: flex;
  flex-direction: column; /* <- empilha os elementos */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  padding-right: 156px;
}

.hero {
  display: flex;
  flex-direction: line; /* <- empilha a imagem e o texto */
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 5px solid #B0BCD3;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero-university {
  margin-top: 20px;
  max-width: 100%;
  font-family:'Inter', sans-serif;
}

.profile-img {
  width: 360px;
  height: 420px;
  border-radius: 50% 50% 0 0;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.intro-text {
  text-align: center;
}

.intro-text h1 {
  font-size: 8.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;;
  color: #EAB476;
  margin-bottom: 15px;
  line-height: 1.1;
}

.university {
  font-size: 2rem;
  color: #cccccc;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Tablets */
@media (max-width: 1024px) {
  .intro-text h1 {
    font-size: 6rem;
  }

  .university {
    font-size: 1.6rem;
  }

  .profile-img {
    width: 300px;
    height: 360px;
  }
}

/* Celulares */
@media (max-width: 768px) {
  .home-wrapper {
    padding-top: 80px;
  }

  .intro-text h1 {
    font-size: 4.5rem;
  }

  .university {
    font-size: 1.3rem;
  }

  .profile-img {
    width: 250px;
    height: 300px;
  }
}

/* Celulares pequenos */
@media (max-width: 480px) {
  .intro-text h1 {
    font-size: 3rem;
  }

  .university {
    font-size: 1.1rem;
  }

  .profile-img {
    width: 200px;
    height: 250px;
  }
}
